In [1]:
import pandas as pd

In [3]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [17]:
mapa = {
    "home":"principal",
    "how_it_works":"como_funciona", 
    "contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns = mapa)
dados

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [18]:
x = dados[['principal', 'como_funciona', 'contato']]
y = dados['comprou']

In [22]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [23]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [21]:
dados.shape

(99, 4)

In [25]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [29]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [30]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC()

In [36]:
previsoes = modelo.predict(teste_x)

from sklearn.metrics import accuracy_score
acuracia = accuracy_score(teste_y, previsoes) * 100 #taxa_de_acerto

In [39]:
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

## Utilizando a biblioteca para separar treino e teste

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 #definir o random_state para o teste dar sempre o mesmo resultado de separação, o default é aleatório

treino_x, teste_x, treino_y, teste_y =  train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100 #taxa_de_acerto
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [53]:
treino_y.value_counts() # 47 / 27 = 1,74

0    47
1    27
Name: comprou, dtype: int64

In [54]:
teste_y.value_counts() # 19 / 6 = 3,16

0    19
1     6
Name: comprou, dtype: int64

In [ ]:
# é importante que se siga a mesma proporção de quem comprou ou não comprou no treino e no teste, para isso usamos o 'stratify'

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 #definir o random_state para o teste dar sempre o mesmo resultado de separação, o default é aleatório

treino_x, teste_x, treino_y, teste_y =  train_test_split(x, y, random_state = SEED, stratify = y, test_size = 0.25)
# 'stratify' -> estratificar de acordo com o y
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100 #taxa_de_acerto
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [56]:
treino_y.value_counts() # 49 / 25 = 1,96

0    49
1    25
Name: comprou, dtype: int64

In [57]:
teste_y.value_counts() # 17 / 8 = 2,1

0    17
1     8
Name: comprou, dtype: int64